[submodule "EncryptedERC"]
	path = EncryptedERC
	url = https://github.com/ava-labs/EncryptedERC.git

[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
